<!DOCTYPE html>
<html class="no-js" lang="es">

    <!--====== head START ======-->
    {% include 'section/head.html.twig' %}

    <!--====== head ENDS ======-->

    <body>
        <!--[if IE]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
      <![endif]-->

    {% include 'section/preloader.html.twig' %}
    
    {% include 'section/header.html.twig' %}
    
    {% include 'section/about.html.twig' %}
        
{#    {% include 'section/coffe.html.twig' %}#}

    {% include 'section/coffe2.html.twig' %}
    
{#    {% include 'section/counter.html.twig' %}#}
        
{#    {% include 'section/customer.html.twig' %}#}

{#    {% include 'section/gallery.html.twig' %}#}
    
{#    {% include 'section/coffe_menu.html.twig' %}#}

{#    {% include 'section/upcoming.html.twig' %}#}
       
    {% include 'section/contact.html.twig' %}

    {% include 'section/footer.html.twig' %}
        
    {% include 'section/back_to_top.html.twig' %}

    {% include 'section/javascripts.html.twig' %}
        


    </body>

</html>
