<!--====== ABOUT PART START ======-->

<section id="about" class="about_area pt-120 pb-130">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center pb-10">
                    <h4 class="title">¿Quienes Somos?</h4>
                    <span class="line">
                        <span class="box"></span>
                    </span>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about_image mt-50 wow fadeInRightBig" data-wow-duration="1.3s" data-wow-delay="0.5s">
                    <img src="{{ asset("assets/images/about.jpg") }}" alt="about">
                </div> <!-- about image -->
            </div>
            <div class="col-lg-6">
                <div class="about_content mt-45 wow fadeInLeftBig" data-wow-duration="1.3s" data-wow-delay="0.5s">
                    <h5 class="about_title">Misi&oacute;n</h5>
                    <p>Ofrecer productos de incienso de palo santo de la más alta calidad, contribuyendo al bienestar espiritual y emocional de nuestros clientes. Nos comprometemos a preservar la sostenibilidad del palo santo, fomentar prácticas comerciales éticas y proporcionar una experiencia única que enriquezca la vida de quienes buscan la armonía y la conexión con la naturaleza.</p>
                    <h5 class="about_title">Visi&oacute;n</h5>
                    <p>Ser reconocidos como líderes en la industria de inciensos de palo santo, destacando por nuestra dedicación a la calidad, la sostenibilidad y la autenticidad. Aspiramos a ser una fuente confiable de productos espirituales, comprometidos con el respeto a la naturaleza y la promoción de la conciencia ambiental. Buscamos ser una inspiración para la conexión humana y la elevación espiritual a través de nuestros productos y prácticas comerciales.</p>
                </div> <!-- row -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== ABOUT PART ENDS ======-->