<!--====== COFFEE MENU PART START ======-->

<section id="menu" class="coffee_menu pt-120 pb-130 bg_cover" style="background-image: url(assets/images/coffee_menu_bg.jpg)">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <h2>You are Using Free Lite Version of Cafe</h2>
                    <p class="wow fadeInUp">Please, purchase full version to get all sections, features and commercial license for footer credit removal.</p>
                    </br>
                    <a href="https://rebrand.ly/cafe-ud" rel="nofollow" class="main-btn">Purchase Now</a>
                </div> <!-- slider content -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->

</section>

<!--====== COFFEE MENU PART ENDS ======-->