<!--====== HEADER PART START ======-->

<section class="header_area">

    {% include 'section/navbar_header.html.twig' %}

    {% include 'section/slider_header.html.twig' %}

</section>

<!--====== HEADER PART ENDS ======-->