<div id="home" class="header_slider slider-active">
    <div class="single_slider bg_cover d-flex align-items-center" style="background-image: url({{ asset("assets/images/slider-1.jpg") }})">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="slider_content">
                        {#<h2 class="slider_title">You are Using Free Lite Version of Cafe</h2>
                        <p class="wow fadeInUp">Please, purchase full version to get all sections, features and commercial license for footer credit removal.</p>#}
                        <a href="#" class="main-btn">Cotizar</a>
                    </div> <!-- slider content -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div> <!-- single slider -->
</div> <!-- header slider -->